*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.hero{
    background-image: url("../images/rect.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden;

}
